<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="/style.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="flex-column navColor fixed-top">
			
			<nav class="navbar navbar-light ">
			  <a class="navbar-brand" href="/api/home"><img src="/petbook.png"></a>	

			  <div class="d-flex ">			  	
			  	<% if (user) { %>
			  	<% const cartItemQty = user.cart.length %>
			  	<a  href="/api/user/cart/show"><img src="/images/cartIcon.png" style="max-width:35%">
			  		<span class="cartCount"><%= cartItemQty %></span><div></div>
			  		</a>
			  	<ul class="list-unstyled mr-5 mt-2">
			  		<li class = "welcomeText">Welcome, <%= user.firstName %></li>
			  	</ul>
			  	<a class="btn btn-primary btn-sm m-2" href="/api/logout" role="button">Logout</a>

			  	<% } else { %>
			  	<a class="btn btn-primary btn-sm m-2" href="/api/login" role="button">Login</a>
			  	<a class="btn btn-primary btn-sm m-2" href="/api/signup" role="button">Sign Up</a>
			  	<% } %>
			  </div> 
			</nav>
		</div>
	</header>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
