			<form class="d-flex col-6">
			  <input class="form-control me-2" type="search" placeholder="Search Item" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>				




<% const cartItemQty = user.cart.length %>
			  	<a  href="/api/user/cart/show"><img src="/images/cartIcon.png" style="max-width:35%">
			  		<span class="cartCount"><%= cartItemQty %></span><div></div>
			  		</a>