<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <%- include("partials/header") -%>
  <div id="addform" class="container">
    <form class="border row g-3 p-5" action="" method="post">
      <div class="col-md-6">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="col-md-6">
        <label for="image" class="form-label">Image Link</label>
        <input type="text" class="form-control" id="image" name="image">
      </div>
      <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" ></textarea>
      </div>
      
      <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price">
      </div>

      <div class="col-md-4">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity">
      </div>

      <div class="col-md-4 mt-4">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" name="category">
          <option selected>Select</option>
          <option value="Dog Food">Dog Food</option>
          <option value="Cat Food">Cat Food</option>
          <option value="Pet Accessories">Pet Accessories</option>
          <option value="Cages">Cages</option>
          <option value="Toys">Toys</option>

        </select>
      </div>
      
      <div class="col-12">
        
      </div>
      <div class="col-12 mt-5">
        <button type="submit" class="btn btn-primary">add</button>
      </div>
    </form>
  </div>
      

            
  <%- include("partials/footer") -%>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>



