<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/cartScreen.css">


</head>
<body>
		<%- include("partials/header") -%>

<div id="cartTable" class="container-fluid d-flex flex-wrap">
	<div id="cartRow" class="row d-flex">
		<div class="cartCol col-6">
			<table class="table">
			  <thead class="border m-5 ">
			    <tr>
			      <th class="col-4">Product</th>
			      <th class="col-1 text-center">Unit Price</th>
			      <th class="col-1 text-center">Quantity</th>
			      <th class="col-2 text-center">Total Price</th>
			      <th class="col-1 text-center">Actions</th>
			    </tr>
			  </thead>
			</table> 
			<% for (let product of cartItems) { %>
			<table class="table"> 
			  <tbody>
			  	<form action="submit">
			    <tr class="border m-5 ">
			      <th class="col-4 "><img src="<%= product.image %>" class="img-thumbnail cartImage"></th>
			      <td class="col-1 text-center align-middle"><%= product.price %></td>
			      <td class="col-1 text-center align-middle">
			      	<label for="quantity"><% qty = 1 %></label>
			      	<input type="number" id="quantity" name="quantity" min="1" max="100" value="1">
			      </td>
			      <td class="col-2 text-center align-middle"><%= product.price * qty %></td>
			      <td class="col-1 text-center align-middle"><a href="#">Remove</a></td>
			    </tr>
			    </form>
			    <% } %>		    
			  </tbody>
			</table>
		</div>
		<div class="cartCol col-6">
			<div class="cartBorder col-12">
				<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Sit nemo suscipit commodi iusto saepe porro, totam ipsum? Laborum doloribus quo ab cum quidem possimus assumenda vitae quae praesentium blanditiis, porro?</p>
				<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Sit nemo suscipit commodi iusto saepe porro, totam ipsum? Laborum doloribus quo ab cum quidem possimus assumenda vitae quae praesentium blanditiis, porro?</p>
				<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Sit nemo suscipit commodi iusto saepe porro, totam ipsum? Laborum doloribus quo ab cum quidem possimus assumenda vitae quae praesentium blanditiis, porro?</p>
			</div>
		</div>			
	</div>
			    
</div>
		

		<%- include("partials/footer") -%>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script>
		
	</script>
</body>
</html>

