<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<link rel="stylesheet" href="/style.css">

</head>
<body>
	<div class="row">
		<%- include("partials/header") -%>
	</div>
	
	<div class="container-fluid flex-wrap">
		<div class="row">
		<% for (let product of products) { %>
			<div class="card col-2 p-3">
			  <img src="<%= product.image %>" class="card-img-top" >
			  <div class="card-body">
			  	<div class="card-title-div">
			  		<a href="/api/product/<%= product._id %>"><p class="text-center titleColor"><%= product.name %></p></a>
			  	</div>
			  	<div class="">
			  		<p class="card-text"><%= product.price %></p>
			  	</div>
			    
			  </div>
			</div>
		<% } %>
		</div>
	</div>


	<%- include("partials/footer") -%>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>