<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<link rel="stylesheet" href="/style.css">

</head>
<body class="d-flex flex-column" >
	<%- include("partials/header") -%>
	<div class="container-fluid mt-5 ">
		<div class="row  justify-content-center">
			<div class="col-xl-4 col-lg-6  border rounded my-5 p-5 bg-white">
				<h1 class="text-center mb-5">Login User</h1>
				<form action="/api/home" class="mx-5">

					<div class="form-group">
					    <label for="emailInput">Email address</label>
					    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" name="email" required>
						<div class="email error"></div>
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>

				  	<div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" name="password" required >
					    <div class="password error"></div>
				  	</div>
				  
				  	<button type="submit" class="btn btn-primary">LogIn</button>
				</form>	
			</div>
		</div>
	</div>
	

	<%- include("partials/footer") -%>

	<script>
		const form = document.querySelector("form")
		const emailError = document.querySelector(".email.error");
		const passwordError = document.querySelector(".password.error");

		form.addEventListener("submit", async (e) =>{
			e.preventDefault()

			emailError.textContent = "";
			passwordError.textContent = "";

			const email = form.email.value;
			const password = form.password.value

			try{
				const res = await fetch("/api/login", {
					method: "POST",
					body: JSON.stringify({ email, password }),
					headers: { "Content-Type": "application/json"}
				})
				const data = await res.json()
				console.log(data)
				if(data.errors){
					emailError.textContent = data.errors.email;
					passwordError.textContent = data.errors.password;
				}
				if(data.user){
					location.assign("/api/home");
				}
			}
			catch(err){
				console.log(err.message)
			}
		})
	

	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>