<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Order Screen</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<link rel="stylesheet" href="/style.css">

</head>
<body>
	
	<%- include("partials/header") -%>
	
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 mt-5">
				<img src="<%= product.image %>" class="img-thumbnail" alt="...">
			</div>
			<div class="col-6">
				<div class="text-center py-3"><h1><%= product.name %></h1></div>
				<div class="bordered">
					<h4 class="mt-5"> <span>DESCRIPTION:</span> <span class="font-weight-light"><%= product.description %> </span> </h4>
					<hr>
					<div class="text-center my-5 pt-5">
						<h1>PRICE</h1>
						<h1><%= product.price %> php</h1>
					</div>
					
					
				</div>
			</div>
			
		</div>
	</div>
	
	
	


	<%- include("partials/footer") -%>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>