/*.cartRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.cartCol {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}*/

.cartImage{
  max-width: 10rem;

}
.cartImage{
  max-width: 10rem;
}
#cartTable table{
  background-color: white;
}
.cartBorder{
  border: 1px solid black;
  
}